:root {
    --bg-color: #f4f4f4; /* Light theme background */
    --text-color: #000; /* Light theme text */
    --container-bg: #fff; /* Light theme container background */
    --button-bg: #007bff; /* Light theme button background */
    --button-hover: #0056b3;
    --message-bg: #f4f4f4;
    --border-color: #007bff;
}

body.dark-mode {
    --bg-color: #121212; /* Dark theme background */
    --text-color: #8d8f85; /* Dark theme text */
    --container-bg: #3a3535; /* Dark theme container background */
    --button-bg: #00aaff; /* Dark theme button background */
    --button-hover: #0077cc;
    --message-bg: #444;
    --border-color: #00aaff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the start for scroll */
}

.container {
    max-height: 90vh; /* Adjust container height */
    overflow-y: auto; /* Enable scrolling */
    padding: 20px;
    background-color: var(--container-bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--button-hover);
}

.message-display,
.real-time-message-display {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: var(--message-bg);
    margin-bottom: 10px;
    border-left: 4px solid var(--border-color);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.unsubscribe-btn {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #ff6d2a; /* Red color for unsubscribe */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.unsubscribe-btn:hover {
    background-color: #c82333;
}

.theme-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: var(--container-bg); /* Match the container background */
    padding: 15px; /* Add some padding */
}

#topics-list {
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto;
}


